name: Users Service Command

on: 
  push:
    paths:
      - 'users/**'
      - 'authentication/**'
      - 'gateway/**'
      - 'order/**'
      - 'pkg/**'
      - 'products/**'
      - 'ratings/**'

jobs:
  changes:
    name: Detect Changes in folder
    runs-on: ubuntu-latest
    outputs:
      names: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: actions/checkout@v3
    - name: Detect Changes
      uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          users:
            - 'users/**'

  deploy:
    needs: changes
    name: folder commit 
    runs-on: ubuntu-latest
    steps:
      - name: testa
        run: |
          if [[ ${{ needs.changes.outputs.names[0] }} == "users" ]]; then
            echo "TRUUU DOOOO"
          fi

# echo ${{ fromJSON(needs.changes.outputs.names) }}