name: Users Service Command

on: 
  push:
    paths:
      - 'users/**'
      - 'authentication/**'
      - 'gateway/**'
      - 'order/**'
      - 'pkg/**'
      - 'products/**'
      - 'ratings/**'

jobs:
  changes:
    name: Detect Changes in folder
    runs-on: ubuntu-latest
    outputs:
      names: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: actions/checkout@v3
    - name: Detect Changes
      uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          users:
            - 'users/**'

  deploy:
    needs: changes
    name: folder commit 
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        name: ${{ fromJSON(needs.changes.outputs.names) }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.name }}
    steps:
      - name: testa
        run: |
          echo json ${{ fromJSON(needs.changes.outputs.names }}
          echo norm ${{ needs.changes.outputs.names[0] }}